@{
    ViewData["Title"] = "Appointment List";
}

@model Mission_12.Models.ViewModels.AppointmentViewModel
<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Date</td>
            <td>Group Name</td>
            <td>Group Size</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Time</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model.Appointments)
        {
            <tr>
                @*<td>@x.TimeSlot.Date</td>*@
                <td>@x.GroupName</td>
                <td>@x.GroupSize</td>
                <td>@x.EmailAddress</td>
                <td>@x.PhoneNumber</td>
                @*<td>@x.TimeSlot.Time</td>*@
                <td><a asp-controller="Home" asp-action="Edit" asp-route-appointmentId="@x.AppointmentId">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-appointmentId="@x.AppointmentId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>