@{
}

@model Mission_12.Models.Appointment
<div class="container">
    <form method="post">
        <div asp-validation-summary="All"></div>

        <input type="hidden" asp-for="AppointmentId" />

        <input type="date" value="@ViewBag.Date" disabled />
        <br />
        <input type="time" value="@ViewBag.Time" disabled />
        <br />
        <input type="hidden" value="@ViewBag.ts" asp-for="TimeSlotId" />

        <label asp-for="GroupName">Name of Group:</label>
        <input asp-for="GroupName" /><br />

        <label asp-for="GroupSize">Size of Group:</label>
        <input asp-for="GroupSize" type="number" /><br />

        <label asp-for="EmailAddress">Email Address:</label>
        <input asp-for="EmailAddress" /><br />

        <label asp-for="PhoneNumber">Phone Number:</label>
        <input asp-for="PhoneNumber" /><br />


        <button asp-action="Edit" asp-route-time="@ViewBag.Time" asp-route-ts="@ViewBag.ts" asp-route-date="@ViewBag.Date" type="submit">Save</button>
    </form>
</div>