@model Mission_12.Models.ViewModels.TimeSlotViewModel
    
<div class="text-center">
    <h1 class="display-4">Book a Time!</h1>
    <br />

    <div class="row">

        @foreach (TimeSlot t in Model.TimeSlots.Take(7))
        {
        <div class="col">

            <h4>@t.Date</h4>

            @foreach (TimeSlot x in Model.TimeSlots.Where(x => x.Date == t.Date))
            {
                @if (x.Booked == true)
                {
                    <a class="font-weight-light">@x.Time</a>
                    <br />
                }
                else
                {   
                    <a class="btn btn-primary" asp-for="Home" asp-action="Form" asp-route-time="@x.Time" asp-route-date="@x.Date" asp-route-ts="@x.TimeSlotId">@x.Time</a>
                    <br />
                }

            }

        </div>
        }

    </div>
   
</div> 